body {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid rgb(131, 131, 131);
  background-color: rgb(176, 206, 255);
  padding: 0px 20px 0px 20px;
  width: 20vw;
  margin-left: 30px;
  margin-top: 3vw;
}

aside h2 {
  margin-bottom: 0;
}

aside p {
  margin-top: 8px;
  font-size: 1.1em;
}

body {
  background-color: rgba(196, 248, 255, 0.685);
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(139, 183, 223, 0.692);
  color: black;
  text-align: center;
  padding: 10px 0 10px 0;
  /* width: 100%;
  overflow: hidden; */
}

strong {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.projectContainer {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 40vw;
  background-color: rgba(158, 208, 255, 0.479);
}

.projectImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: auto;
}

.projectTitle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding-top: 15px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.projectDesc {
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.3em;
}

.projectDesc a {
  display: block;
}

@media screen and (max-width: 1400px) {
  aside {
    position: relative;
    margin: auto;
    width: 50%;
    font-size: 1em;
  }
  .projectContainer {
    width: 80vw;
  }

  .projectImage {
    width: 60vw;
  }

  .projectDesc {
    font-size: 1.5em;
  }
}
